body{
	color:#222;
	margin:0 auto;
}
html,body{
	height: 100%;
}
#main-container{
	display: flex;
	flex-direction:column;
	justify-content: flex-start;
	height: 100%;
	width: 100%;
}
/*Header classes, links and icons - start*/
.header-container{
	display: flex;
	flex-direction:row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	height: 10%;
}
.header-sub-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 15%;
	color:#696969;
}
.a-header-link:link{
	text-decoration: none;
	color:#222;
}
.a-header-link:visited{
	text-decoration: none;
	color:#222;
	
}
.a-header-link:hover{
	text-decoration: underline;
	color:#222;
	cursor: pointer;
}
.round-notification{
	color:#FFFFFF;
	background-color:rgba(0,0,0,.55);
	border-radius: 50%;
	font-size: .1em;
}
.round-notification:hover{
	background-color:#222;
	cursor:pointer;
}

.apps:hover{
	color:#222;
	cursor: pointer;
}
.private-icon{
	border-radius: 50%;
	width: 45px;
}
.google-logo{
	width: 620px;
	height: 311px;
}
/*Header - classes, links and icons - end*/


/*main section - logo, searchbox and buttons - start*/
.main-section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
}
input[type="text"]{
	width: 90%;
	height: 90%;
	border:0;
}
input[type="button"]{
	color: rgba(0,0,0,.55);
	background-color: #F2F2F2;
	height: 100%;
	border: 1px solid #5552;
	border-radius: 1%;
	margin-right: 2%;
	margin-left: 2%;
}
input[type="button"]:hover{
	border:1px solid #5558;
}
.input-wrap{
	border:1px solid #FBFAFA;
	border-radius:1%; 
	width:35%;
	height: 3%;
	padding: 10px;
	box-shadow: 5px 10px 20px 5px #5552;
}
.input-wrap:hover{
	transition: 1s ease;
	box-shadow: 5px 10px 20px 5px #5558;
}
.button-container{
	width: 35%;
	height: 4%;
	display: flex;
	justify-content: center;
	margin-top: 5%;
}
.country-link:link{
	color:#0000EE;
}
/*main section - logo, searchbox and buttons - end*/

/*footer stuff*/
#footer-container{
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #F2F2F2;
	color: rgba(0,0,0,.54);
	height: 10%;
}
.upper-footer{
	display: flex;
	justify-content: flex-start;
	border-top: 1px solid #E4E4E4;
	margin-left:1%;

}
.lower-footer{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	border-top: 1px solid #E4E4E4;
	align-items: center;
	height: 100%;
	font-size: 80%;
}
.lower-footer-front{
	display: flex;
	justify-content: space-between;
	margin-left:1%;
	width: 13%;
}
.lower-footer-back{
	display: flex;
	margin-right: 1%;
	width: 25%;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.lower-footer-color:link{
	color: rgba(0,0,0,.54);
	text-decoration: none;
}
.lower-footer-color:visited{
	color:rgba(0,0,0,.54);	
	text-decoration: none;
}
.lower-footer-color:hover{
	color:rgba(0,0,0,.54);
	text-decoration: underline;
	cursor: pointer;
}



